services:
  db:
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: users
    ports:
      - "5432:5432"
    volumes:
      - /tmp/data/postgres/users:/var/lib/postgresql/data
